<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs noscrollbar">
        <li class="tab col s6"><a class="active" href="#staff">Our Staff</a></li>
        <li class="tab col s6"><a href="#employment">Employment Opportunities</a></li>
      </ul>
    </div>
    <%= render 'layouts/employment' %>
  </div>
</div>