  <div id="login-modal" class="modal">
    <div class="modal-content">
	  <div class="row">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s6"><a href="#log-in-form">Log In</a></li>
	        <li class="tab col s6"><a class="active" href="#sign-up-form">Sign Up</a></li>
	      </ul>
	    </div>
	    <div id="log-in-form" class="col s12">Log In</div>
	    <div id="sign-up-form" class="col s12">Sign Up</div>
	  </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>