	<div id="service" class="col s12">
		<div class="row">
			<div class="col m5 l4 right">
				<div class="col sm12 right">				
					<a class="waves-effect waves-light btn btn-large"><i class="material-icons left">event</i>Schedule Online</a>
					
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
						<span class="card-title">Service Hours</span>
						<table>
						<tbody>
						  <tr>
							<td>Monday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Tuesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Wednesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Thursday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Friday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Saturday</td>
							<td>7am - 5pm</td>
						  </tr>
						  <tr>
							<td>Sunday</td>
							<td>Closed</td>
						  </tr>			          
						</tbody>
						</table>	
						</div>
						<div class="card-action">
							<span class="right"><a href="#"><i class="material-icons left">phone</i>(800)666-6666</a></span><br>
						</div>
					</div>
				</div>
	    	</div>
	    	<div class="">
	    		<blockquote>
	      			<h1>Service</h1>
	    		</blockquote>
	    		<p class="flow-text">If you're like most people today, you're planning on driving your car into the ground. A lot of people are going so far as to aim for the 150,000-mile mark. With all of the real-life stories about people diving their car 200,000- and in extreme cases 1,000,000 miles? Why not? It will create a lot less waste, that's for sure.</p>
	    		<p class="flow-text">The trick to keeping your car running as it did the day you were first handed the keys - even as the odometer turns over its third zero is an easy one:  Follow the manufacturer's recommended car service schedule. Like a yearly physical; it's perhaps the easiest way to ensure smooth operation for thousands of miles to come. And you don't have to take just our word for it. The road warriors who reach upwards of 200,000 miles will tell you the same thing.</p>
	    		<p class="flow-text">Among the many services offered at Tower Automotive are:
	    			<ul>
	    			<li class="flow-text">Oil changes</li>
	    			<li class="flow-text">Tire rotations</li>
	    			<li class="flow-text">Brake repair</li>
	    			<li class="flow-text">Hose/line replacements</li>
	    			<li class="flow-text">Multi-point inspections</li>
	    			<li class="flow-text">Weird-car noise diagnoses</li>
	    			</ul>
	    		</p>
	    		<p class="flow-text">To schedule an appointment, simply submit our online form or call the Tower Service Center during our regular business hours. We'll get you in, and back on the road, right away. So come visit us today!</p>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="card-panel transparent col s12 m12 l10 offset-l1">
				<div class="row">
					<form class="col s12">		
						<h3>Online Service Scheduler</h3>
						<div class="row">							
							<div class="input-field col s6">
								<input id="first_name" type="text" class="validate">
								<label class="teal-text" for="first_name">First Name</label>
							</div>
							<div class="input-field col s6">
								<input id="last_name" type="text" class="validate">
								<label for="last_name">Last Name</label>
							</div>
							<div class="col s12">
								<button class="btn waves-effect waves-light right" type="submit" name="action">Submit
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
	<div id="parts" class="col s12">
		<div class="row">
			<div class="col m5 l4 right">
				<div class="col sm12 right">				
					<a class="waves-effect waves-light btn btn-large"><i class="material-icons left">event</i>Request Parts</a>
					
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
						<span class="card-title">Parts Hours</span>
						<table>
						<tbody>
						  <tr>
							<td>Monday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Tuesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Wednesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Thursday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Friday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Saturday</td>
							<td>7am - 5pm</td>
						  </tr>
						  <tr>
							<td>Sunday</td>
							<td>Closed</td>
						  </tr>			          
						</tbody>
						</table>	
						</div>
						<div class="card-action">
							<span class="right"><a href="#"><i class="material-icons left">phone</i>(800)666-6666</a></span><br>
						</div>
					</div>
				</div>
	    	</div>
	    	<div class="col m7 l8">
	    		<blockquote>
	      			<h1>Parts</h1>
	    		</blockquote>
	    		<p class="flow-text">Do-it-your-selfers rejoice!</p>
	    		<p class="flow-text">Tower Automotive takes all the guess work out of ordering parts online. We have the custom parts and accessories that are exactly what you're looking for.</p>
	    		<p class="flow-text">Just fill out this parts order form and one of our friendly parts specialists will take care of your order right away.</p>
		    	<div class="card-panel transparent col s12">
					<div class="row">
						<form class="col s12">		
							<h3>Parts Requers Form</h3>
							<div class="row">							
								<div class="input-field col s6">
									<input id="first_name" type="text" class="validate">
									<label class="teal-text" for="first_name">First Name</label>
								</div>
								<div class="input-field col s6">
									<input id="last_name" type="text" class="validate">
									<label for="last_name">Last Name</label>
								</div>
								<div class="col s12">
									<button class="btn waves-effect waves-light right" type="submit" name="action">Submit
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bodyshop" class="col s12">
		<div class="row">
			<div class="col m5 l4 right">
				<div class="col sm12 right">								
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
						<span class="card-title">Bodyshop Hours</span>
						<table>
						<tbody>
						  <tr>
							<td>Monday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Tuesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Wednesday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Thursday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Friday</td>
							<td>7am - 9pm</td>
						  </tr>
						  <tr>
							<td>Saturday</td>
							<td>7am - 5pm</td>
						  </tr>
						  <tr>
							<td>Sunday</td>
							<td>Closed</td>
						  </tr>			          
						</tbody>
						</table>	
						</div>
						<div class="card-action">
							<span class="right"><a href="#"><i class="material-icons left">phone</i>(800)666-6666</a></span><br>
						</div>
					</div>
				</div>
			</div>
			<div class="col m7 l8">
				<blockquote>
		  			<h1>Body Shop</h1>
				</blockquote>
				<p class="flow-text">Accidents happen. Tower Automotive's bodyshop services Yourtown and the surrounding 	area. We offer FREE loaner cars to every client, in a variety of makes and models.</p>
				<p class="flow-text">We Offer:
					<ul>
					<li class="flow-text">Free Loaner Cars</li>
					<li class="flow-text">Free Estimates</li>
					<li class="flow-text">Quality Craftsmanship</li>
					<li class="flow-text">Senior & Student Discounts</li>
					<li class="flow-text">All Major Credit Cards Accepted</li>
					</ul>
				</p>
			</div>
		</div>
	</div>